In [1]:
import pandas as pd

df = pd.read_csv("data/polygon/minute/AAPL.csv")
df

,open,high,low,close,volume,timestamp,datetime
0,191.52,191.52,190.00,190.20,18933.0,1704186000000,2024-01-02 09:00:00
1,190.11,190.13,190.00,190.00,8562.0,1704186060000,2024-01-02 09:01:00
2,189.90,189.90,189.82,189.82,5355.0,1704186120000,2024-01-02 09:02:00
3,189.87,189.87,189.80,189.87,4405.0,1704186180000,2024-01-02 09:03:00
4,189.90,189.95,189.90,189.90,2225.0,1704186240000,2024-01-02 09:04:00
...,...,...,...,...,...,...,...
359223,275.35,275.35,275.35,275.35,156.0,1764031980000,2025-11-25 00:53:00
359224,275.35,275.35,275.35,275.35,181.0,1764032100000,2025-11-25 00:55:00
359225,275.35,275.35,275.35,275.35,245.0,1764032160000,2025-11-25 00:56:00
359226,275.57,275.57,275.57,275.57,304.0,1764032220000,2025-11-25 00:57:00
359227,275.42,275.70,275.42,275.70,699.0,1764032340000,2025-11-25 00:59:00

In [38]:
pd.read_csv("data/polygon/daily/AAPL.csv").tail(15)

       datetime      open     high       low     close      volume
679  2025-11-11  269.3003  275.910  268.3600  275.0000  39050142.0
680  2025-11-12  275.0300  277.120  271.7000  272.6900  34641943.0
681  2025-11-13  272.8500  276.699  272.0900  273.1100  38411941.0
682  2025-11-14  273.0900  275.960  269.6000  272.5800  40239685.0
683  2025-11-15  272.5700  272.830  272.5375  272.8275     20313.0
684  2025-11-16       NaN      NaN       NaN       NaN         0.0
685  2025-11-17  272.8900  273.000  265.7300  267.6700  33580293.0
686  2025-11-18  267.6800  270.710  265.3200  267.5500  33248818.0
687  2025-11-19  267.7800  272.210  264.6500  269.0000  29222516.0
688  2025-11-20  269.1100  275.430  265.0000  266.2500  39156179.0
689  2025-11-21  266.4500  273.330  264.0000  271.1600  46399888.0
690  2025-11-22  271.2000  271.470  271.1100  271.3500     12796.0
691  2025-11-23       NaN      NaN       NaN       NaN         0.0
692  2025-11-24  272.5000  277.000  270.4500  275.4400  45539060.0
693  2025-11-25  275.0700  275.750  275.0000  275.7000     22288.0